<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"></html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Register form</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
  </head>
  <body>
     <div class="container">
      <form class="form-signin" method="post" th:action="@{/signup}" th:object="${user}">
        <h2 class="form-signin-heading">Sign up</h2>
        <p>
          <label for="first_name" class="sr-only">First name</label>
          <input type="text" th:field="*{first_name}" class="form-control" placeholder="First name" required autofocus>
        </p>
        <p>
          <label for="last_name" class="sr-only">Surname</label>
          <input type="text" th:field="*{last_name}" class="form-control" placeholder="Surname" required autofocus>
        </p>
        <p>
          <label for="username" class="sr-only">Username</label>
          <input type="text" th:field="*{username}" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
          <label for="password" class="sr-only">Password</label>
          <input type="password" th:field="*{password}" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>
</div>
</body></html>